.recipeDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  font-size: 24px;

}

.imageContainer {
  flex: 1;
  background-color: #DB9D47;
  padding: 16px;
  max-width: 350px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.textContainer {
  position: relative;
  background-color: #cddee6;
  padding: 16px;
  max-width: 700px;
  height: auto;
  border-radius: 0 10px 10px 0px ;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


#image {
  max-width: 100%
}

#h1 {
  font-size: 25px;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  text-align: center;
}
#h2,
#h3,
p,
#h5 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
}

.buttonGoBack {
  display: inline-block;
  margin-left: 1050px;
  margin-top: 15px;
  background-color: #DF9A57;
  color: #cddee6;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}
