
#h1Home {
  position: absolute;
  width: 1000px;
  height: 96px;
  left: 550px;
  top: 180px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 80px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 80px;
  }

  #h2Home{
  position: absolute;
  width: 1000px;
  height: 96px;
  left: 870px;
  top: 180px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 80px;
  display: flex;
  align-items: center;
  color: #DB9D47;
  }
  

  .cartas {
    width: 550px;
    height: 430px;
    border-radius: 8px;
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    text-decoration-line: none;
    margin-left: 50px;
  }
  
  .linkHome {
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .selectStyle {
    margin-left: 110px;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px; /* Ajusta el valor para hacer que los selectores sean más o menos ovalados */
    padding: 10px;
    width: 170px; /* Ajusta el valor para establecer el ancho del selector */
    font-size: 16px; /* Ajusta el valor para establecer el tamaño de fuente del selector */
    color: #333; /* Ajusta el valor para establecer el color del texto del selector */
    cursor: pointer;
    margin-top: 100px;
  }
  


  .buttonAll {
    margin-left: 250px;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px; /* Ajusta el valor para hacer que los selectores sean más o menos ovalados */
    padding: 10px;
    width: 150px; /* Ajusta el valor para establecer el ancho del selector */
    font-size: 16px; /* Ajusta el valor para establecer el tamaño de fuente del selector */
    color: #333; /* Ajusta el valor para establecer el color del texto del selector */
    cursor: pointer
  }
