.container{
   display: inline-block;
   border: #DCB069 15px double;
   width: 500px;
   height: 350px;
   margin: 5px;
}
.container img{
    max-width: 150px;
}

.container h3{
   font-size: 20px;
}