.bodyCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-left: 1050px;
}
.imageForm{
  position: absolute;
  width: 800px;
  height: 800px;
  left: 10%;
  top: 16%;
}
.h1Form {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.formName,
.formImage,
.formSummary,
.formSteps,
.formDiets {
  margin-bottom: 10px;
}

.formName label,
.formImage label,
.formSummary label,
.formSteps label,
.formDiets label {
  display: block;
  font-weight: bold;
}

.formName input,
.formImage input,
.formSummary textarea,
.formSummary input,
.formSteps textarea,
.formDiets select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.formDiets select {
  height: 32px;
}

.formName input:focus,
.formImage input:focus,
.formSummary textarea:focus,
.formSummary input:focus,
.formSteps textarea:focus,
.formDiets select:focus {
  outline: none;
  border-color: #FFEFD8;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  width: 200px;
}

.formDiets select option {
  color: #333;
}

.buttonForm,
.butonReturn {
  background-color: #FCB900;
  color: black;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.buttonForm:hover,
.butonReturn:hover {
  background-color: #FCB900;
}

.return {
  margin-top: 10px;
  margin-left: -156px;
}
.divDiet {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.divDiet p {
  margin-right: 8px;
}

.botonX {
  margin-bottom: 7px;
  padding: 4px;
  background-color: #f00; /* Cambia el color de fondo del botón según tus necesidades */
  color: #fff; /* Cambia el color del texto del botón según tus necesidades */
  border: none;
  cursor: pointer;
}