#inputSearch{
    position: relative;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px; /* Ajusta el valor para hacer que los selectores sean más o menos ovalados */
    padding: 10px;
    width: 200px; /* Ajusta el valor para establecer el ancho del selector */
    font-size: 16px; /* Ajusta el valor para establecer el tamaño de fuente del selector */
    color: #333; /* Ajusta el valor para establecer el color del texto del selector */
    cursor: pointer;
    margin-left: 1550px;
    margin-top: 25px;
}

.SeachButton{
    position: relative;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px; /* Ajusta el valor para hacer que los selectores sean más o menos ovalados */
    padding: 10px;
    width: 50px; /* Ajusta el valor para establecer el ancho del selector */
    font-size: 16px; /* Ajusta el valor para establecer el tamaño de fuente del selector */
    color: #333; /* Ajusta el valor para establecer el color del texto del selector */
    cursor: pointer;
}