
.imagen-3{
    position: absolute;
    left: 60.82%;
    right: 0%;
    top: 20.61%;
    bottom: 0.09%;
    width: 500px;
}
.imagen-10{
    position: absolute;
width: 800px;
height: 540px;
left: 48.82%;
right: 0%;
top: 20.61%;
}

.imagen-6{
    position: absolute;
left: 33.85%;
right: 56.08%;
top: 92.22%;
bottom: 1.81%;
}

.imagen-7{
position: absolute;
left: 45.36%;
right: 48.18%;
top: 92.22%;
bottom: 1.71%;
}

.imagen-8{
    position: absolute;
    left: 51.61%;
    right: 41.17%;
    top: 92.22%;
    bottom: 1.81%;
}

.imagen-9{
position: absolute;
left: 58.85%;
right: 37.19%;
top: 92.22%;
bottom: 1.71%;
}

.LandingH2{
    position: absolute;
width: 500px;
height: 96px;
left: 400px;
top: 270px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 80px;
display: flex;
align-items: center;

color: #000000;
}

.LandingH3{
position: absolute;
width: 500px;
height: 96px;
left: 400px;
top: 520px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 80px;
display: flex;
align-items: center;

color: #DB9D47;
}

.botonLanding{
position: absolute;
width: 163px;
height: 44px;
left: 850px;
top: 650px;
background: #FCB900;
border-radius: 10px;
cursor: pointer;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;

color: #363636;
}

