

.imagen-3{
    position: absolute;
    left: 60.82%;
    right: 0%;
    top: 20.61%;
    bottom: 0.09%;
    width: 500px;
}
.imagen-1{
    position: absolute;
width: 500px;
height: 350px;
left: 58.82%;
right: 0%;
top: 30%;
}

.LandingH2{
position: absolute;
width: 827px;
height: 96px;
left: 150px;
top: 220px;


background-color: #DB9D47;
-webkit-text-stroke: 2px black;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 80px;
display: flex;
align-items: center;

color: black;
}

.LandingH3{
position: absolute;
width: 1115px;
height: 96px;
left: 150px;
top: 570px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 80px;
display: flex;
align-items: center;

color: #e91db6;
}

.botonLanding {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 200px;
    top: 433px;
    background-color: #1affff; 
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #363636;
  }
  
  .botonLanding:before,
  .botonLanding:after {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #DB9D47; 
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
  }
  
  .botonLanding:before {
    left: 20%;
    transform: translateY(-50%) rotate(45deg);

  }
  
  .botonLanding:after {
    right: 20%;
    transform: translateY(-50%) rotate(-45deg);

  }