.paginadocss {
    position: relative; 
    bottom: 0; 
    left: -25px; 
    transform: translateX(-32%); 
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .paginado {
    padding-left: 55%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  
  .number {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    color: #333;
    border: none;
    outline: none;
    padding: 0;
  }
  
  .number:hover {
    background: #ddd;
  }
  
  .button {
    font-family: inherit;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    background: #1affff;
    color: black;
    border: none;
    outline: none;
  }
  
  .button:hover {
    background: #e91db6;
    font-weight: bold;
  }
  
  .button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }