header {
  background-color: none;
  padding: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  padding-left: 110px;
}

.rectangulo {
  width: 1193.5px; 
  height: 87px;
  padding: 25px;
  border-radius: 25px;
  background-color: #1affff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
  display: flex;

 
}
ul nav  {
  list-style-type: none;

}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  padding-left: 110px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  color: #666;
}


nav ul li.active a {
  color: #666;
  font-weight: bold;
}



.Nav-about-button :link {
  font-family: 'Inter';
  font-style: normal;
  top: 200px;
  right: -200px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #363636;
}

@keyframes typing-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 115%;
  }
}

.LandingH1{
   
  position: relative;
  width: 285px;
  height: 200px;
  left: 90px;
  top: -18px;
  
  font-family: 'Monaco', monospace; 
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 71px;
  display: inline;
  align-items: center;
  text-align: center;
  
  color: hwb(0 0% 100%);
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap; 
  overflow: hidden; 
  }

  .LandingH1::after {
  content: "";
  border-left: 4px solid black;
  background: #1affff;
  right: 0;
  height: 100%;
  position: absolute;
  animation: typing-animation 4s infinite alternate steps(9);
  }


@media (max-width: 768px) {
  header {
    padding: 10px; 
  }


  .Nav-about-button {
    display: none; 
  }
}

